---
title: About Me
icon: fa-user
order: 2
---

<p>
  Currently a post-doc in Bioinformatics working with <a href="https://www.tbi.univie.ac.at/~ronny/">Ronny Lorenz</a> in the research group TBI, University of Vienna.
  Our main goal is to predict RNA structure from the sequence at different level (secondary, pseudo-knotted, tertiary) while integrating different sources of probing data.

  I defended in Dec 2021 Ph.D. thesis in Computer Science "<a href="https://theses.hal.science/tel-03538576">Local Decomposition in RNA Structural Design</a>" co-supervised by <a href="https://www.lix.polytechnique.fr/~ponty/index.php">Yann Ponty</a> (École Polytechnique, France) and <a href="https://www.cs.mcgill.ca/~jeromew/">Jérôme Waldispühl</a> (McGill University, Canada).
The work was mainly focused on <b>RNA Design problem</b> from different angles, notably combinatorial and algorithmic.
Since secondary structure can be seen as a combinatorial object, my research interests focus on the impact of undesignable motifs on phenotype space.
In addition, being part of <a href="https://gitlab.inria.fr/amibio/Infrared">Infrared</a> project, I developed a negative design tool by mean of positive design strategy.
I also work on 2.5D RNA module identification in collaboration with <a href="https://romansg.com/">Roman Sarrazin-Gendron</a>.
</p>

<center>
My research interests include but not limited to:
<ul class="fa-ul" id="interests">
  <li><i class="fa-li fa fa-dna"></i>  RNA Bioinfomatics</li>
  <li><i class="fa-li fa fa-wave-square"></i> Analytic Combinatorics</li>
  <li><i class="fa-li fa fa-brain"></i>  Algorithmics</li>
  <li><i class="fa-li fa fa-project-diagram"></i> Graph Theory</li>
</ul>
</center>

<div style="margin-top:2em">
<center>
  <a class="noborder" href="https://www.lix.polytechnique.fr/amibio/">
    <img src="assets/images/logo-AMIBio.gif" class="team-logo" alt="AMIBio">
  </a>
  <a class="noborder" href="http://csb.cs.mcgill.ca/">
    <img src="assets/images/jerome-lab-logo.png" class="team-logo" alt="RNA Bioinformatics & Citizen Science">
  </a>
  <a class="noborder" href="https://www.tbi.univie.ac.at/">
    <img src="assets/images/tbi-logo.svg" class="team-logo" alt="tbi">
  </a>
</center>
</div>
