---
title: Trajectory
icon: fa-compass
order: 5
---

<div class="row">
<div class="media col-sm-9">
  <div class="media-left media-middle institution-logo">
    <img class="media-object" src="assets/images/logo_vienna.png" alt="Vienna">
  </div>
  <div class="media-body">
    <h4 class="media-heading">University of Vienna · Austria</h4>
    <div class="trajectory-title">Post-Doc</div>
    <!-- <div class="trajectory-description"><i>Gene selection with network based a prior</i><br/> -->
    <!--   supervised by <a href="http://laurent.guyon.phd.free.fr/index.html">Laurent Guyon</a></div> -->
  </div>
</div>
<div class="col-sm-3 trajectory-date"><span>Mar 2022 - </span><span></span></div>
</div>

<div class="row">
<div class="media col-sm-9">
  <div class="media-left media-middle institution-logo">
    <img class="media-object" src="assets/images/logo_IPP.png" alt="X">
    <br/>
    <img class="media-object" src="assets/images/logo_mcgill.png" alt="McGill">
  </div>
  <div class="media-body">
    <h4 class="media-heading">École Polytechnique (IPP Paris) · France</h4>
    <h4 class="media-heading">McGill University · Canada</h4>
    <div class="trajectory-title">Joint Ph.D. in Computer Science</div>
    <div class="trajectory-description">
      <!-- Bioinformatics · Analytic Combinatorics · Algorithmics <br/> -->
      <i><a href="https://theses.hal.science/tel-03538576" title="Download final version of thesis' manuscript">Local Decomposition in RNA Structural Design</a></i> <br />
      Co-supervised by <a href="https://www.lix.polytechnique.fr/~ponty/index.php">Yann Ponty</a> and <a href="https://www.cs.mcgill.ca/~jeromew/">Jérôme Waldispühl</a>
    </div>
  </div>
</div>
<div class="col-sm-3 trajectory-date"><span>Jan 2019 - </span><span>Dec 2021</span></div>
</div> 

<div class="row">
<div class="media col-sm-9">
  <div class="media-left media-middle institution-logo">
    <img class="media-object" src="assets/images/logo_cea_grenoble.png" alt="CEA">
  </div>
  <div class="media-body">
    <h4 class="media-heading">CEA Grenoble · France</h4>
    <div class="trajectory-title">Visiting Intern · M2 internship</div>
    <div class="trajectory-description"><i>Gene selection with network based a prior</i><br/>
      supervised by <a href="http://laurent.guyon.phd.free.fr/index.html">Laurent Guyon</a></div>
  </div>
</div>
<div class="col-sm-3 trajectory-date"><span>Mar 2018 - </span><span>Aug 2018</span></div>
</div>

<div class="row">
<div class="media col-sm-9">
  <div class="media-left media-middle institution-logo">
    <img class="media-object" src="assets/images/logo_upsud.jpg" alt="Paris Saclay">
  </div>
  <div class="media-body">
    <h4 class="media-heading">Paris-Saclay University · France</h4>
    <div class="trajectory-title"><a href="https://www.universite-paris-saclay.fr/en/education/master/bioinformatics/computational-biology/m2-biologie-computationnelle-analyse-modelisation-et-ingenierie-de-linformation-biologique-et-medicale">Master 2 of Computational Biology</a></div>
    <div class="trajectory-description">Analysis · Modeling</div>
  </div>
</div>
<div class="col-sm-3 trajectory-date"><span>Sep 2017 - </span><span>Sep 2018</span></div>
</div>

<div class="row">
<div class="media col-sm-9">
  <div class="media-left media-middle institution-logo">
    <img class="media-object" src="assets/images/logo_sfu.png" alt="SFU">
  </div>
  <div class="media-body">
    <h4 class="media-heading">Simon Fraser University · Canada</h4>
    <div class="trajectory-title">Visiting Intern · M1 internship</div>
    <div class="trajectory-description">
      <i>Model-based clustering on Tuberculosis strains during an outbreak</i><br/>
      co-supervised by <a href="http://www.cecm.sfu.ca/~cchauve/index.html">Cedric Chauve</a> and <a href="https://www.imperial.ac.uk/people/l.chindelevitch">Leonid Chindelevitch</a>
    </div>
  </div>
</div>
<div class="col-sm-3 trajectory-date"><span>Apr 2017 - </span><span>Aug 2017</span></div>
</div>

<div class="row">
<div class="media col-sm-9">
  <div class="media-left media-middle institution-logo">
    <img class="media-object" src="assets/images/logo_X_saclay.svg" alt="X">
  </div>
  <div class="media-body">
    <h4 class="media-heading">École Polytechnique · France</h4>
    <div class="trajectory-title">Cycle Ingénieur</div>
    <div class="trajectory-description">Bioinformatics · Computer Science · Applied Mathematics</div>
  </div>
</div>
<div class="col-sm-3 trajectory-date"><span>Sep 2014 - </span><span>Aug 2018</span></div>
</div>

<div class="row">
<div class="media col-sm-9">
  <div class="media-left media-middle institution-logo">
    <img class="media-object" src="assets/images/logo_LLG.png" alt="LLG">
  </div>
  <div class="media-body">
    <h4 class="media-heading">Lycée Louis-Le-Grand · France</h4>
    <div class="trajectory-title"><a href="https://en.wikipedia.org/wiki/Classe_pr%C3%A9paratoire_aux_grandes_%C3%A9coles">Classe Préparatoire aux Grandes Écoles</a> (CPGE)</div>
    <div class="trajectory-description">Mathematics · Physics · Computer Science</div>
  </div>
</div>
<div class="col-sm-3 trajectory-date"><span>Sep 2012 - </span><span>Jul 2014</span></div>
</div>
