{%- comment -%}
  Include vars:
	title
	center
  subtitle
	photo
	photo-alt
	auto-header
	content
{%- endcomment -%}

{%- assign _title = include.title | default: 'Untitled' -%}
{%- assign _slug = include.title | strip_html | slugify | default: 'untitled' -%}

{%- if include.photo and include.photo-alt -%}
	{%- capture _photo -%}
		<img src="{{- include.photo | relative_url -}}" alt="{{- include.photo-alt -}}" class="back">
	{%- endcapture -%}
	{%- capture _class -%}shade-one cover dark{%- endcapture -%}
{%- else -%}
	{%- assign _photo = '' -%}
	{%- capture _class -%}shade-{%- cycle 'two', 'three', 'four', 'three' -%}{%- endcapture -%}
{%- endif -%}

{%- if include.auto-header == 'none' -%}
	{%- assign _heading = "" -%}
{%- else -%}
	{%- capture _heading -%}
		<header class="center">
			<h2>
        {%- if include.auto-header == null or include.auto-header == 'use-title' -%}
	<span style="color:orange">{{- _title -}}</span>
        {%- else -%}
          {{- include.auto-header -}}
        {%- endif -%}
      </h2>
      {%- if include.subtitle -%}<p>{{- include.subtitle -}}</p>{%- endif -%}
		</header>
	{%- endcapture -%}
{%- endif -%}

<section id="{{- _slug -}}" class="{% if include.center %}center{% endif %}">
    
  <div class="container">
    {{- _photo -}}
    {{- _heading -}}
    {{- include.content -}}
  </div>
</section>
