<!-- Social Icons -->
<ul class="icons">
  {%- if site.twitter_url -%}
  <li><a href="{{- site.twitter_url -}}" class="icon-b fa-twitter"><span class="label">Twitter</span></a></li>
  {%- endif -%}
  {%- if site.google_scholar_url -%}
  <li><a href="{{- site.google_scholar_url -}}" class="icon-b icon-google-scholar" ></a></li>
  {%- endif -%}
  {%- if site.linkedin_url -%}
  <li><a href="{{- site.linkedin_url -}}" class="icon-b fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
  {%- endif -%}
  {%- if site.gitlab_url -%}
  <li><a href="{{- site.gitlab_url -}}" class="icon-b icon-gitlab"><span class="label">GitLab</span></a></li>
  {%- endif -%}
  {%- if site.github_url -%}
  <li><a href="{{- site.github_url -}}" class="icon-b fa-github"><span class="label">GitHub</span></a></li>
  {%- endif -%}
  {%- if site.pinterest_url -%}
  <li><a href="{{- site.pinterest_url -}}" class="icon-b fa-pinterest"><span class="label">Pinterest</span></a></li>
  {%- endif -%}
  {%- if site.slack_url -%}
  <li><a href="{{- site.slack_url -}}" class="icon-b fa-slack-hash"><span class="label">Slack</span></a></li>
  {%- endif -%}
  {%- if site.dribbble_url -%}
  <li><a href="{{- site.dribbble_url -}}" class="icon-b fa-dribbble"><span class="label">Dribbble</span></a></li>
  {%- endif -%}
  {%- if site.email -%}
  <li><a href="mailto:{{- site.email -}}" class="icon fa-envelope"><span class="label">Email</span></a></li>
  {%- endif -%}
</ul>
