---
# Only the main Sass file needs front matter (the dashes are enough)
---
@import "jekyll-theme-prologue";

.ai-google-scholar-1:before {
  content: "\e9d4";
  margin-left: 0.66666666em;
}

.ai-lg {
  vertical-align: 0%;
}

#main ul {
  display:table;
  margin:0 auto;
}

.center {
  text-align: center;
}

hr {
  width: 3em;
  border-top: 3px solid #ECEFF1; 
}


a.ic {
  border-bottom: none;
}

a:hover {
  color: orange;
}

.doc-type {
  font-size: 14px;
  position: relative;
  bottom: 3px;
}

.institution-logo img {
  width: 8rem;
  padding-right: 1rem;
}

.media-heading {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.05em;
}

.trajectory-title {
  text-transform: uppercase;
}

.trajectory-date {
  font-weight: bold;
  color: orange;
}

.trajectory-date span {
  display: inline-block;
}

@media (max-width: 767px) {
  .media-body {
    display: inline;
  }
  .media-object {
    display: inline-block;
  }
}

.pub-abstract {
  font-size: 20px;
  line-height: 1.5em;
  text-align: justify;
  margin-left: 5%;
  margin-right: 5%;
  padding:10px;
  background-color:  rgba(255,200,124, 0.1);
  display: none;
  max-height: 15em;
  overflow: auto;
}

.pub-abstract p {
  margin-bottom: 0.5em;
}

.pub:hover .pub-abstract{
  display: block;
}

.pub:active .pub-abstract{
  display: block;
}

#about-me p {
  text-align: justify;
}

#nav-photo {
  border-radius: 50%;
  width: 100%;
}

.software:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.software a{
  text-decoration: none;
}

.software-img {
  min-width: 70%;
  max-height: 90%;
  position: relative;
}


@media (min-width: 768px) {
  .software-img {
    top: 50%;
    transform: translateY(-50%);
  }

  .software-left {
    position: relative;
    display: flex;
  }
  .software {
    display: table;
    table-layout: fixed;
    position: relative;
  }

  .software:nth-child(even) .software-left {
    flex-direction: row-reverse;
  }

  .software:nth-child(even) .software-img{
    right: 2em;
  }
}

.team-logo {
  height: 90px;
  margin-left: 1em;
}

.noborder {
  border: 0;
}
