---
---
<div class='pub'>
{{ reference | removeurl }}
<p>
{% capture status %}{% if entry.type=='Journal' %}warning{% elsif entry.type=='Conference' %}success{% elsif entry.type=='Thesis' %}danger{% elsif entry.type=='Book Chapter'%}info{% else %}primary{% endif %}{% endcapture %}
<span class="badge badge-{{ status }} doc-type">{{ entry.type }}</span>
{% if entry.doi %}<a href="https://doi.org/{{entry.doi}}" target="_blank" class="ic icon-doi" title="DOI"></a>{% endif %}
{% if entry.hal_id %}<a href="https://hal.inria.fr/{{entry.hal_id}}" target="_blank" class="ic icon-hal" title="Hyper Articles en Ligne"></a>{% endif %}
{% if entry.pdf %}<a href="{{ entry.pdf }}" target="_blank" class="ic icon-doc-text-inv" title="pdf"></a>{% endif %}
</p>
{% if entry.abstract %}
<div class='pub-abstract'>
<b>Abstract :</b> {{entry.abstract | markdownify}}
</div>
{% endif %}
</div>
